@import '../../../../styles/index.scss';

/*change password overlay*/
.card,
.card-claim {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: #fff;
  color: #fff;
  border-radius: 36px;
  width: 90%;
  min-height: 412px;
  padding: 32px;
  gap: 10px;
  z-index: 100;

  @include tablet {
    width: 412px;
    gap: 16px;
    padding: 64px;
  }

  .heading-section {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-family: 'Space Grotesk';

    .title {
      font-size: 32px;
      font-weight: 700;
      font-family: 'Space Grotesk';
      line-height: 40px;
      color: #006877;
      border-bottom: 1px solid grey;

      @include tablet {
        font-size: 32px;
      }
    }
  }

  .options {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .bar {
      display: flex;
      align-items: center;
      gap: 16px;
      cursor: pointer;
      color: #322f33;
      font-family: 'Space Grotesk';
      font-size: 22px;
      font-weight: 700;
      line-height: 28px;

      img {
        width: 40px;
        height: 40px;

        @include tablet {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}

.card-claim {
  @include tablet {
    width: 450px;
    padding: 50px;
    align-items: center;
    justify-content: center;
  }
}
