@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.gradient-text {
    background: linear-gradient(to bottom, #E5EFFF, #FFFFFF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4em;
  }
  
  