@import '../../../styles/index.scss';

.container {
  width: 100vw;
  height: 100vh;
  scroll-behavior: smooth;
  position: relative;
  display: flex;
  overflow-x: hidden;
  overflow-y: auto;
}

.leftContainer {
  display: flex;
  gap: 50px;
  flex-direction: column;
  width: 342px;
  height: 100vh;
  border-right: 1px solid #e5efff;
  padding-top: 100px;
  padding-right: 0;
  padding-left: 20px;
  background: #f7faff;

  .heading {
    color: #006877;
    cursor: pointer;
    font-family: 'Space Grotesk';
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
  }
  .completionCards {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
.formComplete,
.formActive {
  display: flex;
  gap: 16px;
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px 0px 0px 16px;

  .number {
    color: #808080;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .title {
      color: #49464a;
      font-family: 'Inter';
      font-size: 16px;
      font-weight: 350;
      line-height: 30px;
    }
    .text {
      color: #999999;
      font-family: 'Inter';
      font-size: 16px;
      font-weight: 300;
      line-height: 27px;
    }
  }
  .checked {
    color: #28a745;
    width: 30px;
    height: 30px;
  }
}
.formActive {
  background-color: #fff;
}

.rightContainer {
  flex: 1;
  display: flex;
  height: 100vh;
  overflow-y: scroll;
  flex-direction: column;
  gap: 50px;
  padding: 40px 120px 40px 120px;
  background: #f8f8f8;

  .skip {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #615d61;
    font-family: 'Avenir';
    font-size: 20px;
    font-weight: 350;
    line-height: 32px;
  }
  .headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;

    .title {
      color: #006877;
      font-family: 'Space Grotesk';
      font-size: 35px;
      font-weight: 700;
      line-height: 64px;
      letter-spacing: -0.25px;
    }
    .text {
      color: #615d61;
      font-family: 'Avenir';
      font-size: 20px;
      font-weight: 350;
      line-height: 32px;
    }
  }
  .form {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);

    .inputContainer,
    .inputLongest {
      display: flex;
      flex-direction: column;
      gap: 14px;
      grid-column: auto;

      label {
        color: #333333;
        font-family: 'Inter';
        font-size: 18px;
        font-weight: 350;
        line-height: 27px;
      }
      input {
        border: 1px solid #afaaae;
        background-color: #fff;
        border-radius: 10px;
        font-family: 'Inter';
        font-size: 18px;
        font-weight: 400;
        line-height: 27px;
        padding: 24px;
        height: 50px;

        &:active {
          box-shadow: 0px 0px 5px 0px #764eac;
        }
      }
    }
    .inputLongest {
      grid-column: 1 / span 2;
    }
    .selectContainer {
      display: flex;
      flex-direction: column;
      gap: 3px;
      font-family: 'Inter';
      font-size: 18px;
      font-weight: 400;
      line-height: 27px;
      position: relative;

      .selectInput,
      .activeSelect {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        border-radius: 10px;
        color: #afaaae;
        padding: 24px;
        border: 1px solid #afaaae;
        background-color: #fff;

        .icon {
          color: black;
          cursor: pointer;
        }
      }
      .activeSelect {
        box-shadow: 0px 0px 5px 0px #764eac;
      }
      .options {
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        bottom: 0;
        display: flex;
        flex-direction: column;
        border: 1px solid #afaaae;
        background: #fff;
        height: 120px;
        scroll-behavior: smooth;
        z-index: 100;
        border-radius: 8px;
        overflow: auto;
        scrollbar-width: 5px;
        scrollbar-color: #101828;

        /* Works on Chrome, Edge, and Safari */
        &::-webkit-scrollbar {
          width: 10px;
        }

        &::-webkit-scrollbar-track {
          background: #f2f4f7;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #858585;
          border-radius: 20px;
          border: 3px solid #f2f4f7;
        }

        option {
          display: flex;
          padding: 10px;
          min-height: 35px;
          cursor: pointer;

          &:hover {
            background-color: #49464a;
            color: #fff;
          }
        }
      }
    }
  }
  .submit {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 10px;
    padding: 18px 20px;
    font-family: 'Space Grotesk';
    font-size: 22px;
    font-weight: 700;
    line-height: 28px;
    background: linear-gradient(90deg, #006877 0%, #39693c 100%);
    cursor: pointer;
  }
}
